/* Menu para home */

.header-home {
    background-color: #FCECDD;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    /* max-width: 1024px; */
    margin: 0 auto;
}

.title {
    padding: 10px 30px;
    width: 160px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 17px;
    margin: 0 10px;
    line-height: 60px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 15px;
    text-decoration: none;
    color: #7F7C82;
}

.nav-menu-link:hover {
    background: #FFC288;
    transition: 0.5s;
}

.nav-toggle {
    color: #FEA82F;
    background: none;
    border: none;
    font-size: 25px;
    padding: 0 20px;
    line-height: 40px;
    cursor: pointer;
    display: none;
}


/********************** foto de perfil ********************/

.section-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin: 60px auto;
    float: left;
}

.photo-profile {
    border-radius: 50%;
    width: 150px;
}

.div-name {
    margin-left: 5px;
    font-size: 23px;
}


/* *******************Editar foto de perfil********************** */

.btn-edit {
    border: none;
    background-color: white;
    margin-left: 6px;
}

.fa-pencil-alt {
    color: rgb(83 82 100);
}


/* *******************post********************** */

.btn-post {
    border: 1px solid #FFC288;
    border-radius: 30px;
    display: block;
    font-size: 18px;
    width: 300px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-top-width: 3px;
    outline: none;
    cursor: pointer;
}

.article-post {
    background-color: rgb(255 255 255 / 97%);
    margin: 15px;
}

.icon-post {
    /* display: flex;
    flex-direction: row; */
    justify-content: space-around;
}

.section-btn-post {
    margin-bottom: 15px;
}

.fa-photo-video {
    color: #0DB83D;
}

/* .section-profile {} */
.article-profile {
    display: flex;
    align-items: center;
    background-color: rgb(255 255 255 / 97%);
    margin: 30px;
    flex-direction: column;
}

/* Css de modal post */
.section-modal-post {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100vw;
    /* height: calc(100% - 100px); */
    background: rgba(0, 0, 0, 0.8);
}

.modal-post {
    display: flex;
    flex-direction: column;
    background: white;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #FFC288;
}

.show-modal {
    opacity: 1;
}

.modal-post h2 {
    text-align: center;
}

.input-post {
    border: none;
    width: 100%;
    height: 200px;
    outline: 0;
}

.btn-publicar, #btnClose {
    background: #EAB351;
    border-radius: 10px;
    border: none;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    cursor: pointer;
}