/* Menu para home */

.header-home {
    background-color: #FCECDD;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    /* max-width: 1024px; */
    margin: 0 auto;
}

.nav-menu-link {
    text-decoration: none;
    color: #7F7C82;
}

.title {
    padding: 10px 30px;
    width: 160px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 17px;
    margin: 0 10px;
    line-height: 60px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 15px;
}

.nav-menu-link:hover {
    background: #FFC288;
    transition: 0.5s;
}

.nav-toggle {
    color: #FEA82F;
    background: none;
    border: none;
    font-size: 25px;
    padding: 0 20px;
    line-height: 40px;
    cursor: pointer;
    display: none;
}


/********************** foto de perfil ********************/

.section-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin: 60px auto;
    float: left;
}

.photo-profile {
    border-radius: 50%;
    width: 150px;
}

.div-name {
    margin-left: 5px;
    font-size: 23px;
}


/* *******************Editar foto de perfil********************** */

.btn-edit {
    border: none;
    background-color: white;
    margin-left: 6px;
}

.fa-pencil-alt {
    color: rgb(83 82 100);
}


/* *******************post********************** */

.input-post {
    border: 1px solid #FFC288;
    border-radius: 30px;
    display: block;
    font-size: 18px;
    width: 300px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-top-width: 3px;
    outline: none;
}

.article-post {
    background-color: rgb(255 255 255 / 97%);
    margin: 15px;
}

.icon-post {
    /* display: flex;
    flex-direction: row; */
    justify-content: space-around;
}

.section-modal-post {
    margin-bottom: 15px;
}

.fa-images {
    color: #0DB83D;
}

.fa-video {
    color: #FF0F00;
}


/* .section-profile {} */

.article-profile {
    display: flex;
    align-items: center;
    background-color: rgb(255 255 255 / 97%);
    margin: 30px;
    flex-direction: column;
}

@media (max-width: 768px) {
    .title {
        padding: 10px 20px;
        width: 140px;
    }
    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #4A403A;
        position: fixed;
        left: 0;
        top: 50px;
        width: 100%;
        padding: 10px 0 0;
        left: 100%;
        transition: left 0.3s;
        overflow-y: auto;
    }
    .nav-menu-item {
        font-size: 18px;
        line-height: 60px;
    }
    .nav-menu-link {
        color: #FCECDD;
    }
    .nav-menu-link:hover {
        background: none;
        color: #FEA82F;
        transition: 0.3s;
    }
    .nav-toggle {
        display: block;
    }
    .nav-menu_visibily {
        left: 0;
    }
}