/* Menu para home */
.header-home {
    background-color: #FCECDD;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
}

.nav-menu-link{
    text-decoration: none;
    color: grey;
}

.title {
    padding: 10px 30px;
    width: 160px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 17px;
    margin: 0 10px;
    line-height: 60px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 15px;
}

.nav-menu-link:hover {
    background: #FFC288;
    transition: 0.5s;
}

.nav-toggle {
    color: #FEA82F;
    background: none;
    border: none;
    font-size: 25px;
    padding: 0 20px;
    line-height: 40px;
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {
    .title {
        padding: 10px 20px;
        width: 140px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #4A403A;
        position: fixed;
        left: 0;
        top: 50px;
        width: 100%;
        padding: 10px 0 0;
        left: 100%;
        transition: left 0.3s;

        overflow-y: auto;

        /* height: calc(100% - 50px) */
    }

    .nav-menu-item {
        font-size: 18px;
        line-height: 60px;
    }

    .nav-menu-link {
        color: #FCECDD;
    }

    .nav-menu-link:hover {
        background: none;
        color: #FEA82F;
        transition: 0.3s;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visibily {
        left: 0;
    }
}