* {
    font-family: Roboto;
    margin: 0;
}

.img-login {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 189px;
    left: 55px;
    top: 69px;
}

.img-title {
    position: absolute;
    width: 150px;
    height: 40px;
    left: 119px;
    top: 279px;
}

.input-email,
.input-password {
    position: absolute;
    width: 254px;
    height: 35px;
    left: 80px;
    background: #FFFFFF;
    border: 1px solid #EBB54B;
    box-sizing: border-box;
    border-radius: 20px;
}

.input-email {
    top: 350px;
}

.input-password {
    top: 416px;
}

.btn-login {
    position: absolute;
    width: 254px;
    height: 35px;
    left: 80px;
    top: 480px;
    background: #EAB351;
    border-radius: 20px;
    border: none;
}

p {
    position: absolute;
    width: 63%;
    height: 21px;
    font-size: 14px;
    line-height: 16px;
}

.p-login {
    left: 143px;
    top: 540px;
}

.p-account {
    left: 95px;
    top: 624px;
}

.smsError {
    position: absolute;
    width: 63%;
    height: 21px;
    font-size: 14px;
    line-height: 16px;
    top: 455px;
    left: 90px;
    color: red;
}

.img-google {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 190px;
    top: 578px;
}

.register {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #9B9595;
    position: absolute;
    width: 70px;
    height: 18px;
    left: 235px;
    top: 622px;
    text-decoration: none;
}

footer {
    border-top: 2px solid #EAB351;
    position: absolute;
    height: 30px;
    width: 100%;
    left: 0;
    /* top: 660px; */
    bottom: 0;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
}

@media (max-width: 750px) {
    .figure-img {
        display: flex;
        flex-direction: row;
        width: 280px;
        height: 189px;
        left: 55px;
        top: 69px;
    }
}