.img-register {
    position: absolute;
    width: 150px;
    height: 40px;
    left: 125px;
    top: 89px;
}

.name-register,
.email-register,
.password-register,
.confirm-register {
    background: #FFFFFF;
    border: 1px solid #EBB54B;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    width: 257px;
    height: 35px;
    left: 74px;
}

.name-register {
    top: 209px;
}

.email-register {
    top: 269px;
}

.password-register {
    top: 329px;
}

.confirm-register {
    top: 389px;
}

.container-div {
    position: absolute;
    width: 134px;
    height: 30px;
    top: 400px;
    left: 92px;
}

.btn-register {
    position: absolute;
    width: 257px;
    height: 35px;
    left: 74px;
    top: 502px;
    background: #EAB351;
    border-radius: 20px;
    border: none;
}

.line-register {
    position: absolute;
    left: 125px;
    top: 157px;
    color: #8C8888;
}

.p-register {
    position: absolute;
    left: 138px;
    top: 553px;
    color: #0C0B0B;
}

.google-register {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 190px;
    top: 590px;
}

.back img{
    position: absolute;
    width: 30px;
    height: 20px;
    left: 330px;
    top: 35px;
}