.article-signup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.img-signup {
    display: none;
}

.figure-title-signup {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.span-signup {
    display: flex;
    justify-content: center;
}

.span-signup {
    margin-top: 50px;
    color: #8C8888;
    font-size: 20px;
}

/* contenedor de todo el formulario */
.form-signup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

/* contenedor de cada input */
.form-signup-inputs {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

/* css para cada input */
.signup-inputs {
    border: 1px solid #FFC288;
    border-radius: 20px;
    display: block;
    font-size: 15px;
    width: 257px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}

.signup-inputs:focus {
    outline: 0;
    border: 2px solid #FEA82F;
}
/*  */

/* css de small (texto de error) */
.form-signup-inputs small {
    color: #FF2442;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

.form-signup-inputs.error small {
    display: block;
}
/*  */

/* css de icon para alert */
.icon{
    position: absolute;
    top: 8px;
    right: 10px;
    opacity: 0;
}
/*  */

/* css de error general */
.msg-complete-inputs {
    background: #FF2442;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    display: none;
}

.msg-complete-inputs-active {
    display: block;
}
/*  */

/* css de boton registrar */
.btn-signup {
    background: #FFC288;
    border-radius: 20px;
    border: none;
    width: 257px;
    height: 35px;
    margin: 30px auto;
    cursor: pointer;
}

.btn-signup:hover {
    background: #FEA82F;
}
/*  */

/* css cuando es input es correcto */
.form-signup-inputs.success .icon-success{
    color: #80ED99;
    opacity: 1;
}

/* css cuando es input es incorrecto */
.form-signup-inputs.error .icon-error{
    color: #FF2442;
    opacity: 1;
}

/* css cuando es input es incorrecto */
.form-signup-inputs.error .signup-inputs{
    border: 3px solid #FF2442;
    opacity: 1;
}

@media (min-width: 750px) and (orientation: landscape) {
    .article-signup {
        display: flex;
        flex-direction: row;
        margin: 20px 2px 0;
    }
    .figure-signup {
        display: flex;
        align-items: center;
        margin: 0 50px 0 50px;
    }
    .img-signup {
        display: flex;
        width: 480px;
        height: 389px;
    }
    /* .content {
        margin: auto 80px auto 0;
    } */
}