.article-signup{
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

figure {
    display: flex;
    justify-content: center;
}

.figure-title {
    margin-top: 100px;
}

.img-signup {
    width: 250px;
    height: 70px;
}

.span-signup, .span-loginWith {
    display: flex;
    justify-content: center;
}

.span-signup {
    margin-top: 50px;
    color: #8C8888;
    font-size: 20px;
}

.form-signup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.name-signup,
.email-signup,
.password-signup,
.confirm-signup {
    background: #FFFFFF;
    border: 1px solid #EBB54B;
    box-sizing: border-box;
    border-radius: 20px;
    width: 257px;
    height: 35px;
    margin: 10px auto;
}

.btn-signup {
    background: #EAB351;
    border-radius: 20px;
    border: none;
    width: 257px;
    height: 35px;
    margin: 30px auto;
}

.span-loginWith {
    color: #0C0B0B;
}

.figure-google{
    margin-top: 10px;
}

.img-google-signup {
    width: 30px;
    height: 30px;
}

div {
    display: flex;
    flex-direction: row;
}

.span-login{
    margin: 15px 4px 0 auto;
}

.a-login{
    text-decoration: none;
    color: #9B9595;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    margin: 15px auto 0 0;
}