/* css de small (texto de error) */
.form-signup-inputs .msg-error {
    color: #FF2442;
    position: absolute;
    font-size: 20px;
    bottom: 0;
    left: 0;
    margin-top: 5px;
    display: none;
}

.form-signup-inputs.error .msg-error {
    display: block;
}
/*  */

/* css de icon para alert */
.icon{
    position: absolute;
    top: 20px;
    right: 10px;
    opacity: 0;
}
/*  */

/* css de error general */
.msg-EP {
    color: #FF2442;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    display: none;
}

.msg-EP-active {
    display: block;
}
/*  */

/* css cuando es input es correcto */
.form-signup-inputs.success .icon-success{
    color: #80ED99;
    opacity: 1;
}

/* css cuando es input es incorrecto */
.form-signup-inputs.error .icon-error{
    color: #FF2442;
    opacity: 1;
}

/* css cuando es input es incorrecto */
.form-signup-inputs.error .signup-inputs{
    border: 1px solid #FF2442;
    opacity: 1;
}
